KITE_API_KEY=your_kite_api_key
KITE_ACCESS_TOKEN=your_daily_kite_access_token
PORT=8050
SEED_DAYS_5M=45
SEED_DAYS_DAILY=120
SCAN_COMPUTE_EVERY_SEC=3
RECONCILE_EVERY_SEC=180
TICK_STALE_SEC=20
CACHE_STALE_SEC=30
VOLUME_BASELINE_SESSIONS=20
MIN_VOLUME_SESSIONS=10
LIQUIDITY_MIN_TURNOVER=50000000
LIQUIDITY_MAX_SPREAD_BPS=10
LIQUIDITY_MIN_SIDE_DEPTH=100000
BOOSTER_MIN_RVOL=1.5
SIGNAL_TTL_SEC=90
